desktop.ini
.vscode/desktop.ini
.vscode/settings.json
__pycache__/
Classes/desktop.ini
Classes/__pycache__/CurrentTrackedObject.cpython-310.pyc
Classes/__pycache__/desktop.ini
Classes/__pycache__/TrackedObject.cpython-310.pyc
output/desktop.ini
output/recognizedNumbers.txt
Tests/desktop.ini
Videos/desktop.ini
Videos/edge_detected.mp4
Videos/ftc.mp4
Videos/no_background.mp4
Videos/test.mp4
